<?xml version="1.0"?>
<robot name="subject2">

  <link name="world"/>

  <joint name="ball_joint" type="fixed">
    <parent link="world"/>
    <child link="sphere_link"/>
    <origin xyz="1.5 1 0" rpy="0 0 0"/>
  </joint>

  <!-- 球体リンク -->
  <link name="sphere_link">
    <!-- ビジュアル（表示用） -->
    <visual>
      <geometry>
        <sphere radius="0.5"/> <!-- 半径10cm -->
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/> <!-- 青色 -->
      </material>
      <origin xyz="0 0 0.5" rpy="0 0 0"/> <!-- 底面をz=0に置くため半径分オフセット -->
    </visual>

    <!-- コリジョン（物理判定用） -->
    <collision>
      <geometry>
        <sphere radius="0.5"/>
      </geometry>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </collision>

    <!-- 慣性（物理計算用） -->
    <inertial>
      <mass value="0.5"/> <!-- 0.5kg -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="0.001" ixy="0.0" ixz="0.0" 
        iyy="0.001" iyz="0.0" 
        izz="0.001"/>
    </inertial>
  </link>
<gazebo reference="sphere_link">
    <material>Gazebo/Blue</material>
</gazebo>
</robot>